@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--dark-background);
  color: var(--primary-color);
  min-height: 100vh;
}

.container {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 20px;
}