.button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  border: none;
  padding: 0;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
}