:root,
.light {
  --dark-background: #fff;
  --background: #eff5f6;
  --light-background: #e2eef1;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #f77;
  --save: #62de85;
  --icon: #5ed3f3;
  --accent: #00c8ff;
}